<template>
<div class="p-4" style="background-color: #eee5de;">
    <div class="container text-center">
        <h2 style="color: purple;" class="mb-4 fw-bold">
            Our Advisors
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore possimus quae eligendi nobis illo dolorem facere? Voluptatem, at natus? Harum modi, minima necessitatibus dignissimos accusantium explicabo ab sapiente repellat.
        </p>
        <div class="row">
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;">
                    Advisor Image
                </div>
                <div class="m-3">
                  Advisor Name
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, laudantium amet.</p>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;">
                    Advisor Image
                </div>
                <div class="m-3">
                  Advisor Name
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, laudantium amet.</p>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;">
                    Advisor Image
                </div>
                <div class="m-3">
                  Advisor Name
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, laudantium amet.</p>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;">
                    Advisor Image
                </div>
                <div class="m-3">
                  Advisor Name
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, laudantium amet.</p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: "Advisor"
}
</script>