<template>
<div class="p-4" style="background-color: #eee5de;">
    <div class="container text-center">
        <h2 style="color: purple;" class="mb-4 fw-bold">
            Features
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore possimus quae eligendi nobis illo dolorem facere? Voluptatem, at natus? Harum modi, minima necessitatibus dignissimos accusantium explicabo ab sapiente repellat.
        </p>
        <div class="row">
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;" v-on:click="topC">
                    Top Center Notification
                </div>
                <div class="m-3">
                  Feature 1
                </div>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;" v-on:click="topL">
                    Top Left Notification
                </div>
                <div class="m-3">
                  Feature 2
                </div>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;" v-on:click="botR">
                    Bottom Right Notification                    
                </div>
                <div class="m-3">
                  Feature 3
                </div>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;" v-on:click="botC">
                    Bottom Center Notification    
                </div>
                <div class="m-3">
                  Feature 4
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

import { notify } from "@kyvg/vue3-notification";

export default {
    name: "Feature",
    methods: {
        topC () {
        notify({
            group: "topC",
            type: "error",
            title: "<h3> Error </h3>",
            text: "Please right password!",
        });
        },
        topL () {
        notify({
            group: "topL",
            type: "warn",
            title: "<h4> Warning </h4>",
            text: "Please right password!",
        });
        },
        botR () {
        notify({
            group: "botR",
            type: "success",
            title: "<h3> Yes </h3>",
            text: "Your right password!",
        });
        },
        botC () {
        notify({
            group: "botC",
            title: "<h5> Signin </h5>",
            text: "You sign in!",
        });
        },
    }
}
</script>