<template>
<div class="p-4" style="background-color: #eee5de;">
    <div class="container text-center">
        <h2 style="color: purple;" class="mb-4 fw-bold">
            Our Mission
        </h2>
        <div class="row">
            <div class="col-md-6">
                <div class="border border-dark" style="height: 250px;">
                    Video
                </div>
            </div>
            <div class="col-md-6">
                <div class="">
                    <h4 style="color: purple;">
                        Heading of Video
                    </h4>
                </div>
                <div class="m-3">
                  <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam in quos voluptatum, cum animi itaque quo quidem molestias quis odit reprehenderit, rem ipsum? Ut modi minus eaque hic dicta.
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: "Mission"
}
</script>