<template>
<div class="p-4" style="background-color: #eee5de;">
    <div class="container text-center">
        <h2 style="color: purple;" class="mb-4 fw-bold">
            This Problem
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore possimus quae eligendi nobis illo dolorem facere? Voluptatem, at natus? Harum modi, minima necessitatibus dignissimos accusantium explicabo ab sapiente repellat.
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="border border-dark" style="height: 100px;">
                    Image 1
                </div>
                <div class="m-3">
                  Problem 1
                </div>
            </div>
            <div class="col-md-4">
                <div class="border border-dark" style="height: 100px;">
                    Image 2
                </div>
                <div class="m-3">
                  Problem 2
                </div>
            </div>
            <div class="col-md-4">
                <div class="border border-dark" style="height: 100px;">
                    Image 3
                </div>
                <div class="m-3">
                  Problem 3
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: "Problem"
}
</script>