<template>
    <div class="container text-center p-4">
        <h2 style="color: purple;" class="mb-4 fw-bold">
            Raaji Animated Series
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore possimus quae eligendi nobis illo dolorem facere? Voluptatem, at natus? Harum modi, minima necessitatibus dignissimos accusantium explicabo ab sapiente repellat.
        </p>
        <div class="row">
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;">
                    Video 1
                </div>
                <div class="m-3">
                  Series 1
                </div>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;">
                    Video 2
                </div>
                <div class="m-3">
                  Series 2
                </div>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;">
                    Video 3
                </div>
                <div class="m-3">
                  Series 3
                </div>
            </div>
            <div class="col-md-3">
                <div class="border border-dark" style="height: 100px;">
                    Video 4
                </div>
                <div class="m-3">
                  Series 4
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Series"
}
</script>