<template>
    <div class="container text-center pt-4 pb-5">
        <h2 style="color: purple;" class="mb-4 fw-bold">
            Our Wins
        </h2>
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <div class="border border-dark" style="height: 100px;">
                    Image 1
                </div>
            </div>
            <div class="col-md-2">
                <div class="border border-dark" style="height: 100px;">
                    Image 2
                </div>
            </div>
            <div class="col-md-2">
                <div class="border border-dark" style="height: 100px;">
                    Image 3
                </div>
            </div>
            <div class="col-md-2">
                <div class="border border-dark" style="height: 100px;">
                    Image 4
                </div>
            </div>
            <div class="col-md-2">
                <div class="border border-dark" style="height: 100px;">
                    Image 5
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Wins"
}
</script>