<template>
<div class="p-4" style="">
    <div class="container text-center">
        <h2 style="color: purple;" class="mb-4 fw-bold">
            Our Work
        </h2>
        <p class="mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore possimus quae eligendi nobis illo dolorem facere? Voluptatem, at natus? Harum modi, minima necessitatibus dignissimos accusantium explicabo ab sapiente repellat.
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="border border-dark" style="height: 100px;">
                    Video 1
                </div>
            </div>
            <div class="col-md-4">
                <div class="border border-dark" style="height: 100px;">
                    Video 2
                </div>
            </div>
            <div class="col-md-4">
                <div class="border border-dark" style="height: 100px;">
                    Video 3
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: "Work"
}
</script>