<template>
  <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
  <notifications group="topC" position="top top center" />
  <notifications group="topL" position="top left" />
  <notifications group="botR" position="bottom right" />
  <notifications group="botC" position="bottom center" />
  <HelloWorld />
  <Feature />
  <Series />
  <Mission />
  <Sdg />
  <Problem />
  <Work />
  <Advisor />
  <Wins />
  <Footer />
</template>

<script>

import Advisor from './components/Advisor.vue';
import Feature from './components/Feature.vue';
import Footer from './components/Footer.vue';
import HelloWorld from "./components/HelloWorld.vue";
import Mission from './components/Mission.vue';
import Problem from './components/Problem.vue';
import Sdg from './components/Sdg.vue';
import Series from './components/Series.vue';
import Wins from './components/Wins.vue';
import Work from './components/Work.vue';

export default {
  name: "App",
  components: {
    HelloWorld,
    Feature,
    Series,
    Mission,
    Footer,
    Sdg,
    Problem,
    Work,
    Advisor,
    Wins,
  },
};
</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

@import "~bootstrap/dist/css/bootstrap.css";
</style>
